/* src/components/About.css */
.about-container {
    padding: 40px 20px;
    text-align: left;
    padding: 40px 20px;
    /* background: linear-gradient(120deg, #ff9a9e, #fad0c4, #fad0c4); */
    /* animation: gradient-animation 6s infinite alternate; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    color: #fff;
    position: relative;
    background: linear-gradient(45deg, #ff9a9e, #1d55a4, #fad0c4, #a18cd1, #fbc2eb);
    background-size: 400% 400%;
    animation: color-wave 10s ease infinite;
  }
  
  .about-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: white;
    margin-bottom: 0.5em;
  }
  
  .about-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    line-height: 1.6;
    color: white;
  }
  
  @keyframes color-wave {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }