/* src/components/Contact.css */
.contact-container {
    /* padding: 40px 20px; */
    display: flex;
    flex-direction: column;
    justify-content: 120%;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    color: #fff;
    position: relative;
    background: linear-gradient(45deg, #ff9a9e, #1d55a4, #fad0c4, #a18cd1, #fbc2eb);
    background-size: 400% 400%;
    animation: color-wave 10s ease infinite;
  }
  
  .contact-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color:White;
    margin-bottom: 0.5em;
    
  }
  
  .contact-info {
    font-size: 1.1em;
    color: #555;
    margin: 10px 0;
    display: flex;
    align-items: center;
    
    gap: 10px;
  }
  
  .contact-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
  }
  
  .contact-link {
    color: #555;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    color:White;
  }
  
  .contact-link:hover .contact-icon {
    transform: scale(1.2);
  }
  
  .contact-link:hover {
    color: #3498db;
  }
  