/* src/components/Projects.css */
.projects-container {
    padding: 40px 20px;
    /* background: linear-gradient(120deg, #ff9a9e, #fad0c4, #fad0c4); */
    /* animation: gradient-animation 6s infinite alternate; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    color: #fff;
    position: relative;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4, #a18cd1, #fbc2eb);
    background-size: 400% 400%;
    animation: color-wave 10s ease infinite;
  }
  
  .projects-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: #2c3e50;
    
    margin-top: -20px;
  }
  
  .projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 0;
    list-style: none;
  }
  
  .project-item {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    position: relative;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
  }
  
  .project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .project-item h3 {
    margin-top: 0;
    color: #333;
  }
  
  .project-item p {
    color: #555;
  }
  
  .github-link {
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
  
  .github-link:hover {
    opacity: 1;
  }
  
  .github-icon {
    width: 24px;
    height: 24px;
  }
  
  @keyframes color-wave {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }